<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Super Awesome</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
      pre {
        font-size: 80%;
      }
      .badge { 
        padding: .5em .4em; 
      }
      .input-badge {
        width: 80px;
        min-width: 80px;
      }
      .input-number {
        width: 40px;
        min-width: 40px;
      }
    </style>

  </head>
  <body>
    
    <!-- Begin : Nabvar -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <i class="fa fa-book"></i> API REST - Docs
      </a>
    </nav>
    <!-- End : Nabvar -->

    <!-- Begin : Container -->
    <div class="container pt-5">
      
      <table class="tables table-s" style="width: 100%;">
        <!-- <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
          </tr>
        </thead> -->
        <tbody>
          
          <% routes.forEach(function(route, i){ %>
            <tr>
              <!-- <th scope="row"><%= i+1 %></th> -->
              <td>
                <!-- <span><%= i+1 %></span> -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text input-number"><%= i+1 %></span>
                  </div>
                  <div class="input-group-prepend">
                    <span class="input-group-text input-badge badge-<%= route.color %>"><%= route.method %></span>
                  </div>
                  <input type="text" class="form-control" value="<%= route.url %>">
                  <div class="input-group-append">
                    <a id="button_<%= i+1 %>" href="javascript:;" data-method="<%= route.method %>" data-href="..<%= route.url %>" class="input-group-text input-badge badge-dark" role="button">
                      <i class="fa fa-eye"></i>&nbsp;Send
                    </a>
                  </div>
                </div>
                <table id="table_<%= i+1 %>" class="table table-bordered d-none">
                  <tbody>
                    <tr>              
                      <td colspan="2">
                        <span id="status_<%= i+1 %>" class="badge"></span> <span id="content_<%= i+1 %>" class="badge badge-secondary pull-right"></span>
                      </td>
                    </tr>
                    <tr>              
                      <td colspan="2">
                        <pre id="target_<%= i+1 %>"></pre>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          <% }); %>

        </tbody>
      </table>

    </div>
    <!-- End : Container -->

    <%- include ('../partials/footer') %>

    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script type="text/javascript">

      $(function(){

        console.log('Yeah');

          $("a[id^='button_']").on('click', function(e) {

            e.preventDefault();

            var id = $(this).attr('id')

            console.log($(this).attr('id'));

            var row = id.replace('button_', '');

            $('#table_' + row).removeClass('d-none');

            var jqxhr = $.ajax({
              type: $(this).data('method'),
              url: $(this).data('href'),
              dataType: 'json',
              // data: data              
            })
            .done(function(res) {
              $('#target_' + row).html(JSON.stringify(res, null, 2));
              $('#status_' + row).html(jqxhr.status + ' : ' + jqxhr.statusText)
                .addClass('badge-success');
              $('#content_' + row).html(jqxhr.getResponseHeader('content-type'));
            })
            .fail(function(res) {
              $('#target_' + row).html(JSON.stringify(jqxhr.responseJSON, null, 2));
              $('#status_' + row).html(jqxhr.status + ' : ' + jqxhr.statusText)
                .addClass('badge-danger');
              $('#content_' + row).html(jqxhr.getResponseHeader('content-type'));
              console.log(jqxhr.responseJSON)
            });
            // .always(function(res, status, xhr) {
              
            // })

            return 0;

          });

      });
    
    </script>

  </body>
</html>