<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>API REST - <%= page %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
      pre {
        font-size: 80%;
      }
      .badge { 
        padding: .5em .4em; 
      }
      .input-badge {
        width: 80px;
        min-width: 80px;
      }
      .input-number {
        width: 40px;
        min-width: 40px;
      }
      pre {
        height: 200px;
        max-height: 200px;
        max-width: 1110px;
        overflow-y: scroll;
        overflow-x: scroll;
        margin-bottom: 0px;
      }
      .table-pre {
        padding: 0px !important;
      }
    </style>

  </head>
  <body>
    
    <%- include('../partials/header', {page: page, client_db: client_db, version: version, api_key: api_key}); %>

    <!-- Begin : Container -->
    <div class="container pt-4">

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">

          <!-- TABLES -->
          <% Object.keys(o.tb).forEach(function(group, i){ %>
            <a class="nav-item nav-link <%= (i==0) ? 'active': '' %>" id="<%= group %>" data-toggle="tab" href="#nav-<%= group %>" role="tab" aria-controls="nav-<%= group %>" aria-selected="true">
              <%= group.charAt(0).toUpperCase() + group.slice(1) %> <span class="badge badge-primary ml-1"><%= o.tb[group].length %></span>
            </a>
          <% }); %>

          <!-- FUNCTIONS -->
          <% Object.keys(o.fn).forEach(function(group, i){ %>
            <a class="nav-item nav-link" id="<%= group %>" data-toggle="tab" href="#nav-<%= group %>" role="tab" aria-controls="nav-<%= group %>" aria-selected="true">
              <%= group.charAt(0).toUpperCase() + group.slice(1) %> <span class="badge badge-primary ml-1"><%= o.fn[group].length %></span>
            </a>
          <% }); %>

          <!-- STORED PROCEDURES -->
          <% Object.keys(o.sp).forEach(function(group, i){ %>
            <a class="nav-item nav-link" id="<%= group %>" data-toggle="tab" href="#nav-<%= group %>" role="tab" aria-controls="nav-<%= group %>" aria-selected="true">
              <%= group.charAt(0).toUpperCase() + group.slice(1) %> <span class="badge badge-primary ml-1"><%= o.sp[group].length %></span>
            </a>
          <% }); %>

        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">

        <!-- TABLES -->
        <% Object.keys(o.tb).forEach(function(group, i){ %>
          <div class="tab-pane <%= (i==0) ? 'show active': '' %>" id="nav-<%= group %>" role="tabpanel" aria-labelledby="nav-<%= group %>">
            <!-- <h4 id="list-<%= group %>"><%= group %></h4> -->

            <table class="tables table-s mt-4" style="width: 100%;">
              <tbody>
                
                <% o.tb[group].forEach(function(route, i){ %>
                  <tr>
                    <td>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text input-number"><%= i+1 %></span>
                        </div>
                        <div class="input-group-prepend">
                          <span class="input-group-text input-badge badge-<%= route.color %>"><%= route.method %></span>
                        </div>
                        <input type="text" class="form-control" value="<%= route.url %>">
                        <div class="input-group-append">
                          <a id="button_<%= group %>_<%= i+1 %>" href="javascript:;" data-method="<%= route.method %>" data-href="..<%= route.url %>" class="input-group-text input-badge badge-dark" role="button">
                            <i class="fa fa-bolt"></i>&nbsp;Send
                          </a>
                        </div>
                      </div>
                      <% if(route.params.length){ %>
                        <table id="params_<%= group %>_<%= i+1 %>" class="table table-bordered">
                          <tbody>
                            <% if(route.method == 'PUT' || route.method == 'PATCH'){ %>
                              <tr>              
                                <td width="200">
                                  id
                                </td>
                                <td>
                                  <input type="text" name="id" class="form-control param_<%= group %>_<%= i+1 %>"/>
                                </td>
                              </tr>
                            <% } %>
                            <% route.params.forEach(function(param){ %>
                              <tr>              
                                <td width="200">
                                  <%= param.name %>
                                </td>
                                <td>
                                  <input type="text" name="<%= param.name %>" class="form-control param_<%= group %>_<%= i+1 %>"/>
                                </td>
                              </tr>
                            <% }); %>
                          </tbody>
                        </table>
                      <% } %> 
                      <table id="table_<%= group %>_<%= i+1 %>" class="table table-bordered d-none">
                        <tbody>
                          <tr>              
                            <td colspan="2">
                              <span id="status_<%= group %>_<%= i+1 %>" class="badge"></span> <span id="date_<%= group %>_<%= i+1 %>" class="badge badge-dark pull-right">123</span> <span id="content_<%= group %>_<%= i+1 %>" class="badge badge-secondary pull-right mr-2"></span>
                            </td>
                          </tr>
                          <tr>              
                            <td colspan="2" class="table-pre">
                              <pre id="target_<%= group %>_<%= i+1 %>"></pre>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                <% }); %>          
      
              </tbody>
            </table>

          </div>
        <% }); %>

        <!-- FUNCTIONS -->
        <% Object.keys(o.fn).forEach(function(group, i){ %>
          <div class="tab-pane" id="nav-<%= group %>" role="tabpanel" aria-labelledby="nav-<%= group %>">
            <!-- <h4 id="list-<%= group %>"><%= group %></h4> -->

            <table class="tables table-s mt-4" style="width: 100%;">
              <tbody>
                
                <% o.fn[group].forEach(function(route, i){ %>
                  <tr>
                    <td>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text input-number"><%= i+1 %></span>
                        </div>
                        <div class="input-group-prepend">
                          <span class="input-group-text input-badge badge-<%= route.color %>"><%= route.method %></span>
                        </div>
                        <input type="text" class="form-control" value="<%= route.url %>">
                        <div class="input-group-append">
                          <a id="button_<%= group %>_<%= i+1 %>" href="javascript:;" data-method="<%= route.method %>" data-href="..<%= route.url %>" class="input-group-text input-badge badge-dark" role="button">
                            <i class="fa fa-bolt"></i>&nbsp;Send
                          </a>
                        </div>
                      </div>
                      <% if(route.params.length){ %>
                        <table id="params_<%= group %>_<%= i+1 %>" class="table table-bordered">
                          <tbody>
                            <% route.params.forEach(function(param){ %>
                              <tr>              
                                <td width="200">
                                  <%= param.name %>
                                </td>
                                <td>
                                  <input type="text" name="<%= param.name %>" class="form-control param_<%= group %>_<%= i+1 %>"/>
                                </td>
                              </tr>
                            <% }); %>
                          </tbody>
                        </table>
                      <% } %> 
                      <table id="table_<%= group %>_<%= i+1 %>" class="table table-bordered d-none">
                        <tbody>
                          <tr>              
                            <td colspan="2">
                              <span id="status_<%= group %>_<%= i+1 %>" class="badge"></span> <span id="date_<%= group %>_<%= i+1 %>" class="badge badge-dark pull-right">123</span> <span id="content_<%= group %>_<%= i+1 %>" class="badge badge-secondary pull-right mr-2"></span>
                            </td>
                          </tr>
                          <tr>              
                            <td colspan="2" class="table-pre">
                              <pre id="target_<%= group %>_<%= i+1 %>"></pre>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                <% }); %>          
      
              </tbody>
            </table>

          </div>
        <% }); %>

        <!-- STORED PROCEDURES -->
        <% Object.keys(o.sp).forEach(function(group, i){ %>
          <div class="tab-pane" id="nav-<%= group %>" role="tabpanel" aria-labelledby="nav-<%= group %>">
            <!-- <h4 id="list-<%= group %>"><%= group %></h4> -->

            <table class="tables table-s mt-4" style="width: 100%;">
              <tbody>
                
                <% o.sp[group].forEach(function(route, i){ %>
                  <tr>
                    <td>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text input-number"><%= i+1 %></span>
                        </div>
                        <div class="input-group-prepend">
                          <span class="input-group-text input-badge badge-<%= route.color %>"><%= route.method %></span>
                        </div>
                        <input type="text" class="form-control" value="<%= route.url %>">
                        <div class="input-group-append">
                          <a id="button_<%= group %>_<%= i+1 %>" href="javascript:;" data-method="<%= route.method %>" data-href="..<%= route.url %>" class="input-group-text input-badge badge-dark" role="button">
                            <i class="fa fa-bolt"></i>&nbsp;Send
                          </a>
                        </div>
                      </div>
                      <% if(route.params.length){ %>
                        <table id="params_<%= group %>_<%= i+1 %>" class="table table-bordered">
                          <tbody>
                            <% route.params.forEach(function(param){ %>
                              <tr>              
                                <td width="200">
                                  <%= param.name %>
                                </td>
                                <td>
                                  <input type="text" name="<%= param.name %>" class="form-control param_<%= group %>_<%= i+1 %>"/>
                                </td>
                              </tr>
                            <% }); %>
                          </tbody>
                        </table>
                      <% } %> 
                      <table id="table_<%= group %>_<%= i+1 %>" class="table table-bordered d-none">
                        <tbody>
                          <tr>              
                            <td colspan="2">
                              <span id="status_<%= group %>_<%= i+1 %>" class="badge"></span> <span id="date_<%= group %>_<%= i+1 %>" class="badge badge-dark pull-right">123</span> <span id="content_<%= group %>_<%= i+1 %>" class="badge badge-secondary pull-right mr-2"></span>
                            </td>
                          </tr>
                          <tr>              
                            <td colspan="2" class="table-pre">
                              <pre id="target_<%= group %>_<%= i+1 %>"></pre>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                <% }); %>          
      
              </tbody>
            </table>

          </div>
        <% }); %>

      </div>

    </div>
    <!-- End : Container -->

    <%- include('../partials/footer'); %>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript">

      $(function(){

        console.log('Yeah');

          $("a[id^='button_']").on('click', function(e) {

            e.preventDefault();

            var id = $(this).attr('id')

            console.log($(this).attr('id'));

            var row = id.replace('button_', '');

            $('#table_' + row).removeClass('d-none');

            var data = {}
            $(".param_" + row).each(function(i, v){
              var input = $(this);              
              data[input.attr('name')] = input.val();
            })

            // console.log(data);
            var url = $(this).data('href')
            if(typeof data.id != 'undefined' && data.id != ''){
              url = url.replace(':id', data.id)
            }

            var jqxhr = $.ajax({
              type: $(this).data('method'),
              url: url,
              dataType: 'json',
              data: data,
              <% if(api_key != null){ %>
                headers: { 'x-api-key': '<%= api_key %>' }
              <% } %>              
            })
            .done(function(res) {
              $('#target_' + row).html(JSON.stringify(res, null, 2));
              $('#status_' + row).html(jqxhr.status + ' : ' + jqxhr.statusText)
                .attr('class', '').addClass('badge badge-success');
            })
            .fail(function(res) {
              $('#target_' + row).html(JSON.stringify(jqxhr.responseJSON, null, 2));
              $('#status_' + row).html(jqxhr.status + ' : ' + jqxhr.statusText)
                .attr('class', '').addClass('badge badge-danger');              
            })
            .always(function(res, status, xhr) {
              $('#date_' + row).html(moment().format('DD/MMM/YY, h:mm:ss a'));               
              $('#content_' + row).html(jqxhr.getResponseHeader('content-type'));
              console.log(jqxhr.responseJSON)
            })

            return 0;

          });

      });
    
    </script>

  </body>
</html>