<!-- views/pages/monitor.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>API REST - <%= page %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
      .container {
        margin-top: 25px;
      }
      pre {
        font-size: 80%;
        background-color: black;
        color: lightgray;
        padding: 12px;
        height: 500px;
        /* max-height: 200px; */
        max-width: 1110px;
        overflow-y: scroll;
        overflow-x: scroll;
        margin-bottom: 20px;
      }
      .event {
        margin: 0px;
        margin-top: 6px;
      }
      .event_inserted {
        color: yellow;
      }
      .event_updated {
        color: green;
      }
      .event_deleted {
        color: red;
      }
      .event_query {
        color: magenta;
      }
      .event_query_error {
        color: red;
      }
      .event_server {
        color: lightgreen;
      }
      .data {
        margin: 0px;
      }
    </style>

  </head>
  <body>
    
    <%- include('../partials/header', {page: page, client_db: client_db, version: version}); %>    

    <!-- Begin : Container -->
    <div class="container pt-4">

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" data-toggle="tab" href="#nav-server" role="tab" aria-controls="nav-server" aria-selected="true">
            SERVER
          </a>
          <a class="nav-item nav-link" data-toggle="tab" href="#nav-api" role="tab" aria-controls="nav-api">
            API Calls
          </a>
          <a class="nav-item nav-link" data-toggle="tab" href="#nav-query" role="tab" aria-controls="nav-query" >
            QUERY
          </a>
          <a class="nav-item nav-link" data-toggle="tab" href="#nav-query-error" role="tab" aria-controls="nav-query-error" >
            QUERY Errors
          </a>
        </div>
      </nav>

      <div class="tab-content">
        <div class="tab-pane show active" id="nav-server" role="tabpanel" aria-labelledby="nav-server">
          <pre id="log_server">
<p class="event event_server">CLIENT: <%= client_db %></p><p class="event event_server">SERVER: <%= JSON.stringify(config_server, null, 2) %></p><p class="event event_server">DATABASE: <%= JSON.stringify(config_database, null, 2) %></p><p class="event event_server">PAGES: <%= JSON.stringify(config_pages, null, 2) %></p>
          </pre>
        </div>
        <div class="tab-pane" id="nav-api" role="tabpanel" aria-labelledby="nav-api">
          <pre id="log_api">CONNECTED...</br></pre>
        </div>
        <div class="tab-pane" id="nav-query" role="tabpanel" aria-labelledby="nav-query">
          <pre id="log_query">CONNECTED...</br></pre>
        </div>
        <div class="tab-pane" id="nav-query-error" role="tabpanel" aria-labelledby="nav-query-error">
          <pre id="log_query_error">CONNECTED...</br></pre>
        </div>
      </div>

    </div>
    <!-- End : Container -->

    <%- include('../partials/footer'); %>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

      $(function(){

          const socket = io();

          function now() {
            return moment().format('DD/MMM/YY, h:mm:ss a');
          }

          function appendLog(target, event, data, event_class) {
            // console.log(class, event, data);
            $(target).append("<p class='event " + event_class + "'>" + now() + ": EVENT => " + event + "</p>");
            $(target).append("<p class='data'>" + JSON.stringify(data, null, 2) + "</p>");
            $(target).scrollTop($(target)[0].scrollHeight);
          }

          //"EVENT: QUERY"
              
          socket.on("QUERY", function(data){
            appendLog("#log_query", "QUERY", data, "event_query");
          });

          //"EVENT: QUERY_ERROR"    

          socket.on("QUERY_ERROR", function(data){
            appendLog("#log_query_error", "QUERY_ERROR", data, "event_query_error");
          });

          <% e.forEach(function(event, i){ %>
            
            //"EVENT: <%= event %>"
              
            socket.on("<%= event %>_INSERTED", function(data){
              appendLog("#log_api", "<%= event %>_INSERTED", data, "event_inserted");
            });

            socket.on("<%= event %>_UPDATED", function(data){
              appendLog("#log_api", "<%= event %>_UPDATED", data, "event_updated");
            });

            socket.on("<%= event %>_DELETED", function(data){
              appendLog("#log_api", "<%= event %>_DELETED", data, "event_deleted");
            });

          <% }); %>

      });
    
    </script>

  </body>
</html>